# General
.DS_Store
**/.DS_Store
.env
**/.env
*.log
**/__pycache__/

# Backend
backend/*.py[cod]
backend/*$py.class
backend/.pytest_cache/
backend/*.db
backend/instance/
backend/models/*.joblib
backend/data/*.csv

# Frontend
frontend/node_modules/
frontend/dist/
frontend/*.log


# IDEs
.vscode/
.idea/
